* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 200px;
    align-items: center;
}

.header-logo h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-links ul {
    display: flex;
    list-style-type: none;
    align-items: right;
}

.header-links li a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-right: 20px;
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
}

.hero-welcome {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    padding: 50px 0px 100px 200px;
}

.hero-welcome h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.hero-welcome p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-welcome button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero-image{
    display: flex;
    margin-left: auto;
    padding: 50px 100px 100px 0px;
    height: 244px;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    color: #1F2937;
    font-size: 38px;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}